body {
	background: #1E3231;
}

div {
	border: 1px solid black;
	background: #485665;
}

div div {
	border: 1px solid black;
	background: #5086C6;
}

div div div {
	border: 1px solid black;
	background: #243C8C;
}

#page {
	width: 90%;
	margin: auto;
}

	#header {
		width: 97.9166666666667%;
		height: 8.75em;
		margin: 0.4em auto 0.4em auto;
	}

	#navBar {
		width: 97.9166666666667%;
		height: 4em;
		margin: 0px auto 0.4em auto;
	}

	#contentArea {
		width: 97.9166666666667%;
		margin: 0px auto 0.4em auto;
	}

	p {
		clear: both;
	}

	#picArea {
		width: 100%;
		margin: 0.4em auto;
		/*padding: 0 1.06382978723404%;*/
	}

	.threePics {
		width: 31.9148936170213%;
		/*max-width: 100%;*/
		height: 200px;
		background: white;
		display: inline-block;
		
	}

		#pic1 {
			margin-right: 2.12765957446809%;
		}

		#pic2 {
			margin-right: 2.12765957446809%;
		}

		#pic3 {
			
		}

		#footer {
			width: 97.91666667%;
			height: 4em;
			margin: 0.4em auto;
			clear: both;
		}